<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".ui.RedListActivity" />

        <activity
            android:name=".ui.RedRowActivity" />

        <activity
            android:name=".ui.RedAsyncImageColumnActivity" />

        <activity
            android:name=".ui.RedStickyButtonListActivity" />

        <activity
            android:name=".ui.RedPagerActivity" />

        <activity
            android:name=".ui.RedReadableImageCardActivity" />

        <activity
            android:name=".ui.RedCollapsingToolbarActivity" />

    </application>
</manifest>